@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,300&display=swap');

.App {
  /* background-color: #e0e2db; */
}

/* HEADER */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  gap: 10px;
}

.dropdown-content > a {
  text-decoration: none;
  color: gray;
}

.hamburger-menu:hover .dropdown-content {
  display: block;
  display: flex;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin: 20px;
  /* background-color: #736f72;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center; */
}

.hamburger-menu > svg {
  width: 1.5em;
  height: 1.5em;
}

.header-wrapper > h1 {
padding-left: 20px;
}

.link-wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
}

.link-wrapper > a {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}

.header-icon {
  padding-left: 80%;
}

.header-icon > a > svg {
  height: 1.5em;
  width: 1.5em;
  color: grey;
}

/* STARTPAGE */

.startpage-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-info {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #e0e2db;
  }


.startpage-text {
  width: 50%;
}

.startpage-text > p {
  padding: 15px;
}

.startpage-img {
  width: 50%;
}

/* PRODUCT PAGE */

.products-img {
  height: 60vh;
}

.product-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  justify-content: center;
}

.card {
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products-link {
  color: grey;
  text-decoration: none;
}

.price {
  color: grey;
}

/* .card button {
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.5;
} */

.product-img-svg {
  position: relative;
}

.product-img-svg > div {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}


/* FOOTER */ 

.footer-wrapper {
  display: flex;
  background-color: black;
  color: white;
  height: 40vh;
}

.footer-information {
  width: 100%;
  display: flex;
  flex-direction: column;
 align-items: center;
}

/* CART */

.cart-wrapper {

}

.product-cart {

}

.cart-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.empty-cart {
  text-align: center;
  height: 50vh;
  padding-top: 30px;
  font-size: 30px;
}

.cart-img {
  width: 100px;
}

.cart-title {
  text-align: center;
}

