@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,300&display=swap');

.App {
  /* background-color: #e0e2db; */
}

/* HEADER */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  gap: 10px;
}

.dropdown-content > a {
  text-decoration: none;
  color: gray;
}

.hamburger-menu:hover .dropdown-content {
  display: block;
  display: flex;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin: 20px;
  /* background-color: #736f72;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center; */
}

.hamburger-menu > svg {
  width: 1.5em;
  height: 1.5em;
}

.header-wrapper > a {
padding-left: 20px;
text-decoration: none;
color: rgb(134, 142, 132);
}

.link-wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
}

.link-wrapper > a {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}

.header-icon {
  padding-left: 80%;
}

.header-icon > a > svg {
  height: 1.5em;
  width: 1.5em;
  color: grey;
}

/* STARTPAGE */

.startpage-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.startpage-hero {
  display: flex;
  justify-content: center;
  background-image: url(./image/adidas.startpage.jpg);
  height: 370px;
  background-size: cover;
  background-position: 30%;
}

.startpage-hero > img {
  width: 100%;
  margin-bottom: 30px;
}

.startpage-hero > h1 {
  position: absolute;
  z-index: 1;
  top: 40vh;
  color: white;
  text-shadow: 1px 1px 5px #4d4d4d;
}

.products-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}


.nike-popular > img {
  width: 200px;
}

.nb-popular > img {
  width: 200px;
}

.nikeAir-popular > img {
  width: 200px;
}

.adidas-popular > img {
  width: 200px;
}

.startpage-offer {
  background-color: #ddd5d0;
  color: rgb(255, 255, 255);
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.startpage-offer > p {
  font-size: 13px;
}

.startpage-products {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img-big {
  width: 480px;
}

.img-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
}

.img-small > img {
  width: 380px;
}

.img-small > h1 {
  margin: 0;
}
/* PRODUCT PAGE */

.products-img {
  height: 60vh;
}

.product-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  justify-content: center;
}

.card {
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products-link {
  color: grey;
  text-decoration: none;
}

.price {
  color: grey;
}

/* .card button {
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.5;
} */

.product-img-svg {
  position: relative;
}

.product-img-svg > div {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

/* SINGLE PRODUCT PAGE */

.single-page-wrapper {
  margin-bottom: 30px;
}

.single-product {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.single-page-img {
  width: 50%;
display: flex;
gap: 10px;
}
.single-page-img > img {
  width: 350px;
  gap: 10px;
}

.single-product-info {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 30%;
}

.single-product-select {
  width: 70%;
  height: 40px;
}

/* FOOTER */ 

.footer-wrapper {
  background-color: rgb(134, 142, 132);
  color: white;
  height: 40vh;
}

.footer-info-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}

.footer-title {
  font-size: 20px;
  text-decoration: underline;
}

.footer-text {
  font-size: 13px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.footer-icons > svg {
  width: 1.5em;
  height: 1.5em;
}

.footer-contact > a {
  text-decoration: none;
  color: white;
}

/* CART */

.cart-wrapper {
  width: 80%;
  /* display: flex; */
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.product-cart {

}

.cart-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.empty-cart {
  text-align: center;
  height: 50vh;
  padding-top: 30px;
  font-size: 30px;
}

.cart-img {
  width: 40vh;
}

.cart-img-svg {
  position: relative;
}

.cart-img-svg > div {
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 10px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.product-cart {
  display: flex;
  flex-direction: column;
}

.cart-card {
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.cart-title {
  text-align: center;
}

.cart-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title-cart-info {
  width: 100%;
  text-align: center;
}

.info-box {
  border-style: solid;
  border-width: 1px;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 5vh;
}

.cart-line {
  border-bottom: 1px solid black;
}

/* CONTACT PAGE */

.contact-title {
  text-align: center;
}

.telephone-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid black;
}


.contact-telephone {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-text {
  font-size: 13px;
}

.mail-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid black;
}

.contact-mail {
  display: flex;
  gap: 20px;
  align-items: center;
}

