@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,300&display=swap');

/* HEADER */

* {
  font-family: 'Montserrat', sans-serif;
}

.header-wrapper {
  background-color: #a5a58d;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.header-wrapper > h1 {
  position: absolute;
  left: 20px;
}

.link-wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
}

.link-wrapper > a {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}

/* STARTPAGE */

.startpage-wrapper {
 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
}

.left-column {

}

.right-column {

}

.startpage-img {
  width: 300px;
}

/* PRODUCT PAGE */

.products {
  
}

.product-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.price {
  color: grey;
}

.card button {
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.5;
}